// Create variables
// Global scope
$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
  // Local scope
  background-color: $color-primary;

  // Nesting in SASS
  ul li {
    list-style: none;
  }

  // Nesting in SASS
  a {
    text-decoration: none;
    font-size: $font-sm;
    color: $color-secondary;

    &:hover {
      color: $color-tertiary;
    }
  }
}
// mixin is a block of code, which groups bunch of resusable CSS styles
@mixin headingStyles($fontSize: 50px) {
  font-size: $fontSize;
  color: $color-secondary;
  text-align: center;
}

// taking multiple properties into a parameter
@mixin transition($param...) {
  transition: $param;
}

.banner h1 {
  @include headingStyles($font-lg);
}

.footer h3 {
  @include headingStyles;
  @include transition(color 0.5s, background-color 1s);
  &:hover {
    color: $color-tertiary;
    background-color: $color-primary;
  }
}
